@use '@angular/material' as mat;

html {
  @include mat.all-component-themes(mat.define-theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
  )));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-gray-900 min-h-screen;
}
